h1 {
  color: #6B39A6;
  font-family: georgia;
  font-weight: 800;
  background: lavender;
}

p {
  background-color: #F68176;
}

figure {
  border: 1px solid black;
  padding: 30px;
}

figure img {
  width: 40%;
  height:auto;
}

p img {
  float: right;
  max-width: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul {
  background-color: LightGray;
  display: inline-block;
  border: 2px solid Gray;
  padding: 5px;
  list-style: none;
  padding-left: 2;
}
nav ul li {

}

nav ul li a {
  color: DarkRed;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid gray;
  display: block;
}

nav ul li a:hover {
  background-color: Gray;
}

nav ul li:last-child a {
  border-bottom: none;
}
