
/*color scheme
#b8acd1 - lavender
#e2d5f1 - lilac
#c9e8fd - light blue
#526d85 - dark blue
#4e4466 - purple
*/
h1#site-title {
  color: #526d85;
  font-family: helvetica;
  font-weight: 500;
  background: #b8acd1;
  font-size: 72px;
}

h1#article-title {
  font-size: 50px;
}

figure.main-image {
background: #b8acd1;
border-color: #4e4466;
color: #b8acd1
}
figure.section-image {
float: right;
margin-left: 20px;
margin-bottom: 30px;
max-width: 320px;
background: #b8acd1;
border-color: #526d85;
}

figure.section-image.odd {
float: right;
margin-left:20px;
margin-bottom: 30px;
max-width: 320px;

}
figure.section-image.even {
float: left;
margin-right:20px;
}
p {
  background-color: #e2d5f1;
}

figure {
  width: 100%;
  border: 1px solid black;
  padding: 30px;
}

figure img {
  width: 40%;
  height:auto;
}

p img {
  float: right;
  max-width: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
}

nav ul {
  background-color: #c9e8fd;
  display: inline-block;
  border: 2px solid #526d85;
  padding: 5px;
  list-style: none;
  padding-left: 2;
}
nav ul li {

}

nav ul li a {
  color: Blue;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid #c9e8fd;
  display: block;
}

nav ul li a:hover {
  background-color: #c9e8fd;
}

nav ul li:last-child a {
  border-bottom: none;
}
