h1 {
  color: #6B39A6;
  font-family: georgia;
  font-weight: 800;
  background: lavender;
}

p {
  background-color: #F68176;
}

figure {
  border: 1px solid black;
  padding: 30px;
}

figure img {
  width: 40%;
  height:auto;
}

p img {
  float: right;
  max-width: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
}
